h2 {
  font-family: "Fredoka One", cursive;
}
#linkToLibraryView h5 {
  margin-bottom: 0;
}
.btn h5 {
  margin-bottom: 0;
}

#seeMore {
  max-width: 50%;
  margin: 0 auto;
}

#deleteIcon {
  padding-top: 0.4rem;
}
