#nav {
  margin-bottom: 3rem;
}

#bookDetails {
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

h5,
h6 {
  text-align: center;
}
.row {
  margin: 0 auto;
}
#success {
  text-align: center;
}
